<div class="overlay" [ngClass]="themeService.getCurrentTheme()() === 'dark' ? 'dark-overlay' : 'light-overlay'">
    <div class="spinner" [ngClass]="themeService.getCurrentTheme()() === 'dark' ? 'dark-spinner' : ''"></div>
    <h2 [ngClass]="themeService.getCurrentTheme()() === 'dark' ? 'dark-h2' : ''">{{ languageService.t().loading }}</h2>
    
    <button [ngClass]="themeService.getCurrentTheme()() === 'dark' ? 'dark-button' : ''" (click)="cancel.emit()">
        {{ languageService.t().cancel }}
    </button>
</div>